.head-section
    #gif
        #head-detail
            h3#member-count 4,434,322
            h4#member-count Nhanify community members
.section
    h2 Recently joined members
    #recent-members-container
.section
    h2 Recently added songs
    #recent-songs-container
.section
    h2 Top playlists
    #top-playlists-container

if partial 
  script#initial-data(type="application/json").
    !{JSON.stringify({ topPlaylists, latestUsers, latestSongs, playlistType })}
else
  script(type="module").
    import { renderPlaylists, renderUsers, renderSongs } from "/assets/javascript/UiRender.js";
    const topPlaylists = !{JSON.stringify(topPlaylists)}; 
    const latestSongs = !{JSON.stringify(latestSongs)}; 
    const latestUsers = !{JSON.stringify(latestUsers)}; 
    renderPlaylists("#{playlistType}", topPlaylists);
    renderSongs(latestSongs);
    renderUsers(latestUsers);